<div class="fixed left-0 top-0 overflow-auto z-0 p-20 w-full h-full bg-opacity-60 bg-black opacity-animated">
    <form (submit)="createInstance(name, isAdmin, instance.tag)"
        class="border-2 rounded-xl p-5 w-fit m-auto h-fit dark:bg-backgroundDT bg-backgroundT">
        <div class="grid grid-cols-2 grid-rows-2">

            <label for="instanceName" class="block my-2 pr-2 text-right">Name</label>
            <input type="text" class="block my-2 pl-2 text-letterT" id="instanceName" #name>

            <label for="admin" class="block my-2 pr-2 text-right">Is admin</label>
            <input type="checkbox" class="block my-2 pl-2 text-letterT" id="admin" #isAdmin>

            <label for="tag" class="block my-2 pr-2 text-right">Instance tag</label>
            <select id="tag" class="block my-2 pl-2 text-letterT" name="tag" [(ngModel)]="instance.tag">
                <option value="default">Select one</option>
                <option value="Minecraft">Minecraft</option>
                <option value="Other">Other</option>
            </select>



        </div>
        <div [ngSwitch]="instance.tag">
            <app-create-instance-minecraft *ngSwitchCase="'Minecraft'"></app-create-instance-minecraft>
            <app-create-instance-other *ngSwitchCase="'Other'"></app-create-instance-other>
        </div>
        <div class="flex justify-between">
            <button (click)="closeModal()">Close Form</button>
            <button type="submit" class="">Create User</button>
        </div>
    </form>

</div>