<div class="grid grid-cols-2">
    <h1 (click)="activateModalCreatingUser()"
        class="text-center border-2 m-4 rounded-xl p-2 bg-pink-400 hover:bg-pink-600 hover:cursor-pointer">CREATE USER +
    </h1>
    <h1 (click)="generateToken()"
        class="text-center border-2 m-4 rounded-xl p-2 bg-pink-400 hover:bg-pink-600 hover:cursor-pointer">CREATE TOKEN
        +
    </h1>
</div>
<div *ngIf="newToken" class="text-xl pl-4">
    <button (click)="copyToClipboard(newToken)" class="inline border-2 p-1">Copy</button>
    <button (click)="copyToClipboard(domain+'/register/'+newToken)" class="inline border-2 p-1">CopyURL</button>
    <p class="pl-2">{{newToken}}</p>
</div>
<div class="m-4 grid 2xl:grid-cols-3 xl:grid-cols-2 grid-cols-1 gap-4 h-auto">
    <div class="py-2 px-4 border-2 rounded-2xl" *ngFor="let user of users">
        <!--card-->
        <div class="flex justify-between text-2xl h-auto">
            <ul>
                <li>{{user.uid}}
                    {{user.username}}</li>
                <li class="inline">{{user.role[0]}} </li>
                <li class="inline" *ngIf="user.role[1] != undefined"> ...</li>
            </ul>
            <div class="grid grid-cols-2 grid-rows-2 text-center">
                <a (click)="activateModalUpdatingUser(user)"
                    class="bg-blue-500 hover:bg-blue-700 border-2 hover:cursor-pointer rounded-2xl px-1 w-auto">
                    Update
                </a>
                <a (click)="deleteUser(user)"
                    class="bg-red-600 hover:bg-red-800 border-2 hover:cursor-pointer rounded-2xl px-1 w-auto">
                    Delete
                </a>
                <a class="bg-green-600 hover:bg-green-800 border-2 hover:cursor-pointer rounded-2xl px-1 w-auto">
                    Roles
                </a>
                <a (click)="activateModalSubscribingUser(user)"
                    class="bg-yellow-500 hover:bg-yellow-700 border-2 hover:cursor-pointer rounded-2xl px-1 w-auto">
                    Instances
                </a>
            </div>
        </div>
    </div>
</div>
<app-create-user-form *ngIf="creatingUser == true"></app-create-user-form>
<app-update-user-form *ngIf="updatingUser == true" [user]="this.userW"></app-update-user-form>
<app-subscribe-user-form *ngIf="subscribingUser == true" [user]="this.userW"></app-subscribe-user-form>