<app-navbar></app-navbar>

    <div class="left-0 top-0 overflow-auto z-0 p-5 w-full h-full">
        <form (submit)="tryLogin(username, password)" class="border-backgroudDarkT dark:border-white border-2 rounded-xl p-5 w-fit m-auto h-fit">
            <div class="flex justify-end mb-3">
                <label for="username" class="justify-self-end">Username</label>
                <input type="text" class="ml-2 rounded-lg px-2 text-black" id="username" #username>
            </div>
            <div class="flex justify-end my-3 ">
                <label for="password" class="justify-self-end">Password</label>
                <input type="password" class="ml-2 rounded-lg px-2 text-black" id="password" #password>
            </div>
            <div *ngIf="passFailed" id="passwordError" class="">Username and password do not match.</div>
            <!-- <div class=""> -->
                <!-- <input type="checkbox" class="" id="check" #remme> -->
                <!-- <label class="" for="check" >Remember me</label> -->
            <!-- </div> -->
            <button type="submit" class="border-backgroudDarkT dark:border-white w-full h-full border-2 rounded-full mt-2 hover:bg-green-500 transition-colors duration-500">Login</button>
        </form>
    </div>
